__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so

# jupyter notebook 
.ipynb_checkpoints

# env
.env
.venv
venv/
ENV/

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
